<nav class="navbar" style="background-color: #FFC61A;">
  <div class="container-fluid">
    <a class="navbar-brand">Tarot</a>
    <!-- <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark" type="submit">Buscar</button>
    </form> -->
  </div>
  <!-- <li class="nav-item">
    <a class="nav-link" href="#">Features</a>
  </li> -->
</nav>

<h1>Tarot</h1>

<p>Acá voy a estar desarrollando la app de cartas de tarot.</p>
